.modal-content {
    /* z-index: 100; */
    display: flex;
    z-index: 3000;

    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(230,230,230);
    box-sizing: border-box;
    cursor: default;
    font-weight: 400;
    line-height: 24px;
    /* pointer-events: none; */
}

.modal-backdrop {
    /* z-index: -1; */
    position: absolute;
    z-index: 3000;

    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.modal-inner-content {
    display: flex;
    z-index: 3000;
    background-color: rgb(24,24,24);
    border-radius: 10px;
    top:0;
    left: 0;
    width: 70%;
    min-height: 90%;
    /* min-width: 600px; */
    justify-content: center;
    align-items: flex-start;
}


@media screen and (max-width: 640px) {
    .modal-inner-content {
        width: 100%;
        min-height: 100%;

    }
}
