.nav-user-image-container, .home-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

}
/* .nav-user-image-container:hover {
  background-color: --profile-dropdown-bg transparent;
} */

.nav-user-dropdown-container {
  background-color: rgba(20,20,20, .4)


}

.nav-user-image {
  background: linear-gradient(to right, rgb(92, 84, 245), rgb(94, 150, 198));
  height: 29px;
  width: 29px;
  border-radius: 29px;
  background-position: center;
  background-size: contain;
}
.nav-user-dropdown-container {
  position: absolute;
  /* background-color: #fff; */
  top: 47px;
  right: 0px;
  z-index: 2006;

  width: 180px;


  border-radius: 3px;
  /* border: 1px solid rgb(243, 243, 243); */
  /* box-shadow: 0 0 0 1px rgb(0 0 0 / 30%), 0 1px 4px 0 rgb(0 0 0 / 20%); */
  cursor: default;
}

.nav-user-dropdown-welcome,
.nav-user-dropdown-manage-profiles, .nav-user-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
  text-decoration: none;
  color: #ffffff;

}

.nav-profile {
    display: flex;
    flex-direction: column;
}

.nav-user-dropdown-welcome-text, .user-name-text-overflow {
  /* max-width: 200px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.nav-user-dropdown-artist-link:hover {
  background-color: rgb(243, 243, 243);
}

.nav-user-logout, .nav-user-dropdown-text, .nav-user-logout {
  padding: 0px;
  /* padding-bottom: 15px; */
  padding-right: 0px;
  color: #ffffff;
}

.nav-user-logout{
  padding: 0px;
  border: 1px solid var(--mid1);
  border-radius: 4px;
  width: 100%;

  font-size: 16px;
  text-decoration: none;
  font-weight: 200;
  color: white;
  background-color: var(--mid1);

  cursor: pointer;
  /* transition: border 0.5s, background-color 0.5s, color 0.5s; */
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.nav-user-logout-btn:hover {
  background-color: rgb(81, 136, 224);
}
