.swiper {
    overflow: visible;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-next,
.swiper-button-prev {
    color: white !important;

    font-size: 24px !important;
    margin-left: -30px;
}

.swiper-pagination {
    width: 100px !important;
    opacity: 0.5 !important;
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
    > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    left: 90% !important;
    top: 0;
    z-index: 1;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}

.swiper-pagination-progressbar-fill {
    background-color: white !important;
}

.video-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 260px;
}

.my-video-list > .video-thumb-container > .video-thumb-wrapper > .video-image {
    width: 260px;
}

img.video-image:hover {
    cursor: grab;
}

.video-list-wrapper:hover {
    z-index: 10;
}

.swiper-wrapper {
    max-height: 135px;

    align-items: center !important;
}
.swiper-slide {
    border-radius: 5px;
}
.swiper-slide:hover {
    z-index: 1;
}
