
.video-list-wrapper {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--browse-bg);
    overflow: hidden;
    flex-wrap: nowrap;
}

.video-thumb-wrapper {
    margin: 5px;
    background-color: var(--browse-bg);
}
