html {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0px;
    color: white;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 100%;
    flex: 1 1 auto;
    background-color: var(--modal-bg);
}

.hidden {
    display: none;
}

textarea {
    resize: none;
}

.error-container {
    color: var(--signin-red);
    padding: 10px;
}

:root {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --modal-bg: #0f0f0f;
    --modal-text-grey: #5f5f5f;
    --description-text-grey: rgb(210, 210, 210);
    --watchlist-bg: #141414;
    --profile-dropdown-bg: #141414;
    --nav-white: #ffffff;
    --nav-hover-text: #b3b3b3;
    --nav-unselected-link: #b3b3b3;
    --browse-bg: #141414;
    --detail-text: #efefef;
    --detail-bg: #181818;
    --btn-hover-white: #e6e6e6;
    --ep-container-bg: #333333;
    --ep-selected-bg: #333333;
    --ep-container-text: #bcbcbc;
    --ep-container-tags: #626262;
    --ep-container-separator-line: #636363;
    --profile-select-bg: rgb(17, 17, 17);
    --season-dropdown-btn-bg: #252525;
    --logo-red: #e50714;
    --signin-red: #e50714;
}
