.comment-div {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-top: var(--modal-text-grey) 1px solid;
    color: var(--description-text-grey)
}

.comment-edit-btn-div {
    width: 24px;
}
.comment-delete-btn-div {
    width: 24px;
}

.comment-text {
    overflow-wrap: break-word;
  word-break: break-all;
}

.comment-content-div {
    display: flex;

}

.comment-modify-div {
    display: flex;
    flex-direction: row;
}

.comment-profile-wrapper {
    width: 70px;
    margin: 10px;
}

.comment-content-wrapper {
    padding: 10px;
    margin-right: 100px;
    width: 100%;
}

.confirm-cancel-btns-div {
    margin: 10px;
}
.comment-updated {
    font-size: 12px;
    margin: 10px;
}

.comment-edit-input {
    background-color: var(--modal-text-grey);

    width: 100%;
    padding:5px;
    border-radius: 3px;
}

.edit-btn-image, .delete-btn-image {
    margin: 10px;
    cursor: pointer;
}

.comment-delete-text {
    margin: 10px;
    color: var(--modal-text-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.delete-alert-btn {
    width: 16px;
    padding: 5px;
    padding-right: 10px;
}
