
.profile-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-color: var(--profile-select-bg);
  color: var(--modal-text-grey);
  }
.delete-text {
    width: 300px;
    flex-wrap: wrap;
}


.manage-profile-btn-div, .profile-watching-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-profile-btn {
  border: var(--modal-text-grey) 2px solid;
  border-radius: 5px;
}
.manage-profile-btn:hover {
  border: white 2px solid;
  color: white;
  border-radius: 5px;
  padding: 20px;
}
.profile-navlink-browse:hover {
  border: white 2px solid;
  color: white;
  border-radius: 5px;
}
.profile-add-text {
    justify-content: flex-start;
  color: white;
  font-size: 48px;
}
.profile-add-subtext {
    justify-content: flex-start;
  color: var(--modal-text-grey);
  font-size: 24px;
}

.profile-select-image-upload {
    margin: 20px;
    display: flex;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.add-name-input-div {
    display: flex;
    align-items: center;
}

.add-name-input {
    background-color: #3d3d3d;
    padding: 5px;
}

.profile-select-div {
    padding: 0px;
    margin: 20px;

}

.add-profile-btn-div {
  display: flex;
  flex-direction: column;
}
.add-profile-btn-div:hover {
color:white;
}

.add-profile-btn, .add-profile-text {

  display: flex;

}

.add-profile-btn {
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: var(--modal-text-grey);
  padding: 20px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.add-profile-btn:hover {
  background-color: var(--modal-text-grey);
  color: white;
  cursor: pointer;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.continue-btn, .cancel-btn {
    border-radius: 5px;

    padding: 8px 16px;
}
.continue-btn {
    background-color: white;
    color: black;
    font-weight: 800;
}
.cancel-btn {
    border: var(--modal-text-grey) 2px solid;
    margin-left: 20px;
}
.cancel-btn:hover {
    border: white 2px solid;
    color: white;
    cursor: pointer;
  }
.continue-btn:hover {
    background-color: var(--signin-red);
    color: white;
    cursor: pointer;
  }

  .profile-default-image-div {

  }
