
.profile-page-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-color: var(--profile-select-bg);
  color: var(--modal-text-grey);
  }


.manage-profile-btn {
  border: var(--modal-text-grey) 2px solid;
  border-radius: 5px;
}
.manage-profile-btn:hover {
  border: white 2px solid;
  color: white;
  border-radius: 5px;
  padding: 20px;
}
.profile-navlink-browse:hover {
  border: white 2px solid;
  color: white;
  border-radius: 5px;
}
.profile-watching-text {
  color: white;
  font-size: 2.5rem;
}

.add-profile-btn-div {
  display: flex;
  flex-direction: column;
}
.add-profile-btn-div:hover {
color:white;
}

.add-profile-btn, .add-profile-text {

  display: flex;

}

/* .manage-profile-btn-cancel{
    margin-top: 50px;
} */


.add-profile-btn {
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: var(--modal-text-grey);
  padding: 20px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.add-profile-btn:hover {
  background-color: var(--modal-text-grey);
  color: white;
  cursor: pointer;
}
