
.home-nav-splash {
    padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 50px;
  font-size: 14px;
  list-style: none;
}

a.nav-btn, button.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-decoration: none;
  color: white;
  background-color: #1A1A1A;
  border: none;
  cursor: pointer;
}

.sign-in-nav {
    background-color: var(--signin-red);
    color: white;
    font-weight: 400;
    border-radius: 5px;
    padding:10px;
    margin: 10px;
}

ul.home-nav {
  margin: 0px;
  padding: 0px;
  background-color: #1A1A1A;

}

.home-top-right {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.home-top-left {
  align-items: center;

  display: flex;
}

.my-list-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    color: rgb(225,225,225);
}
.my-list-nav-link:hover {
    transition: color .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    color: white;
}


.home-icon {
  width: 100%;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.home-text-link {
    margin-left: 40px;
}
